<!-- Validation failure messages -->
<% if @reservation.errors.any? %>
  <% @reservation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Reservation #<%= @reservation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_reservation/<%= @reservation.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

        <input type="text" id="restaurant_id" name="restaurant_id" placeholder="Restaurant" class="form-control" value="<%= @reservation.restaurant_id %>">
      </div>

      <!-- Label and input for party_id -->
      <div class="form-group">
        <label for="party_id" class="control-label">
          Party
        </label>

        <input type="text" id="party_id" name="party_id" placeholder="Party" class="form-control" value="<%= @reservation.party_id %>">
      </div>

      <button class="btn btn-warning">
        Update Reservation
      </button>
      or
      <a href="/reservations/<%= @reservation.id %>">Cancel</a>
    </form>
  </div>
</div>
