<div class="page-header">
  <h1>
    Reservations
    <a href="/reservations/new" class="btn btn-lg btn-success">New Reservation</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Restaurant</th>
        <th>Party</th>
        <th>Actions</th>
      </tr>

      <% @reservations.each do |reservation| %>
      <tr>
        <td>
          <% if reservation.restaurant.present? %>
            <a href="/restaurants/<%= reservation.restaurant.id %>">
              <%= reservation.restaurant.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if reservation.party.present? %>
            <a href="/parties/<%= reservation.party.id %>">
              <%= reservation.party.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/reservations/<%= reservation.id %>" class="btn btn-primary">Show</a>
          <a href="/reservations/<%= reservation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_reservation/<%= reservation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @reservations, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
