<div class="page-header">
  <h3>Reservation #<%= @reservation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd>
        <% if @reservation.restaurant.present? %>
          <a href="/restaurants/<%= @reservation.restaurant_id %>">
            <%= @reservation.restaurant.name %>
          </a>
        <% end %>
      </dd>

      <dt>Party</dt>
      <dd>
        <% if @reservation.party.present? %>
          <a href="/parties/<%= @reservation.party_id %>">
            <%= @reservation.party.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reservations" class="btn btn-primary">
        Back
      </a>
      <a href="/reservations/<%= @reservation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_reservation/<%= @reservation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
