<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Website</dt>
      <dd><%= @restaurant.website %></dd>

      <dt>Meal</dt>
      <dd><%= @restaurant.meal_id %></dd>

      <dt>Cost pp</dt>
      <dd><%= @restaurant.cost_pp %></dd>

      <dt>City</dt>
      <dd><%= @restaurant.city_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurant has many reservations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reservations
      </li>

      <% @restaurant.reservations.each do |reservation| %>
        <li class="list-group-item">
          <a href="/reservations/<%= reservation.id %>">
            <%= reservation.restaurant_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reservations/<%= reservation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reservations/<%= reservation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_reservation/<%= reservation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_reservation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for restaurant_id -->
      <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

      <!-- Label and input for party_id -->
      <div class="form-group">
        <label for="party_id" class="control-label">
          Party
        </label>

        <%= select_tag(:party_id, options_from_collection_for_select(Party.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Reservation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
